:root {
  --competitor-img-size: 75px;
}

img {
  max-width: var(--competitor-img-size);
  max-height: var(--competitor-img-size);
}

.name {
  height: var(--competitor-img-size);
  vertical-align: middle;
  display: inline-block;
}

#bracket {
  background-image: url('assets/bracket.png');
  background-repeat: no-repeat;
  background-size: 1200px 800px ;
  display: flex;
}

.octofinals .bottom {
  margin: -43px 0px 10px 0px;
  width: 250px;
}

.octofinals .middle {
  margin: -43px 0px 3px 0px;
}

.quarterfinals .pair.bottom .top img{
  margin-top: 122px;
}

.quarterfinals .competitor.top img {
  margin-bottom: 152px;
}

.quarterfinals {
  width: 86px;
  margin-top: 28px;
}

.semifinals .competitor {
  width: 107px;
  margin-top: 135px;
  margin-bottom: 369px;
}

.semifinals img {
}

.home.finals {
  margin-top: 317px;
}



