:root {
  --competitor-img-size: 75px;
  --bracket-width: 1200px;
  --bracket-height: 800px;
}

body {
  background: linear-gradient(
    135deg, 
    rgb(139, 53, 173) 0%, 
    rgba(149,24,140,1) 100%);
  color: rgb(214, 211, 211);
}

#title {
  width: var(--bracket-width);
  text-align: center;
  position: absolute;
}

img {
  max-width: var(--competitor-img-size);
  max-height: var(--competitor-img-size);
}

.away {
  text-align: right;
}

.name {
  height: var(--competitor-img-size);
  vertical-align: middle;
  display: inline-block;
}

#bracket {
  background-image: url('assets/bracket.png');
  background-repeat: no-repeat;
  background-size: var(--bracket-width) var(--bracket-height);
  display: flex;
}
.octofinals {
  min-width: 250px;
}

.octofinals .bottom {
  margin: -43px 0px 10px 0px;
}

.octofinals .middle {
  margin: -43px 0px 3px 0px;
}

.quarterfinals .pair.bottom .top img{
  margin-top: 122px;
}

.quarterfinals .competitor.top img {
  margin-bottom: 152px;
}

.quarterfinals {
  min-width: 86px;
  margin-top: 28px;
}

.semifinals .competitor {
  min-width: 107px;
  margin-top: 135px;
  margin-bottom: 369px;
}

.finals {
  margin-top: 317px;
  min-width: 157px;
}